#!/usr/bin/make -f

#export DH_VERBOSE=1
export PACKAGE = dovecot-loadbalancer
export VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

# Let's keep our source tree clean
export PYTHONDONTWRITEBYTECODE=1

# Required for 'help2man'
export PATH:=.:${PATH}

%:
	dh $@ --with python3,systemd --buildsystem=pybuild

override_dh_install:
	# Fix global variables
	sed -i "s|VERSION\s*=.*|VERSION = '$(VERSION)'|;s|CONFIGSPEC\s*=.*|CONFIGSPEC = '/usr/share/$(PACKAGE)/dovecot-loadbalancer.conf.spec'|" debian/$(PACKAGE)/usr/bin/dovecot-loadbalancer

	# Install additional stuff
	#mkdir -p debian/$(PACKAGE)/usr/bin
	#cp dovecot-loadbalancer debian/$(PACKAGE)/usr/bin/.
	mkdir -p debian/$(PACKAGE)/usr/share/$(PACKAGE)
	cp dovecot-loadbalancer.conf.spec debian/$(PACKAGE)/usr/share/$(PACKAGE)/.
	mkdir -p debian/$(PACKAGE)/etc/dovecot
	cp dovecot-loadbalancer.conf debian/$(PACKAGE)/etc/dovecot/dovecot-loadbalancer.conf
	chmod o= debian/$(PACKAGE)/etc/dovecot/dovecot-loadbalancer.conf

	# Create man pages
	mkdir -p debian/$(PACKAGE)/usr/share/man/man1
	help2man \
		--name 'Log Watcher Daemon (dovecot-loadbalancer)' \
		--help-option '--help' --version-string $(VERSION) --no-discard-stderr --no-info \
		dovecot-loadbalancer | fgrep -v 'invalid option' > debian/$(PACKAGE)/usr/share/man/man1/dovecot-loadbalancer.1

	# Install
	dh_install

override_dh_installdocs:
	dh_installdocs README dovecot sql

override_dh_clean:
	dh_clean
	rm -rf MANIFEST build dist
	find . -name '*.pyc' -delete
	find . -type d -name '__pycache__' -exec rmdir {} \;

build-source-tarball:
	dh_testdir
	dh_clean build-stamp
	# Create the source tarball
	mkdir -p /tmp/$(PACKAGE)-source-$(VERSION)
	cp -r * /tmp/$(PACKAGE)-source-$(VERSION)/.
	tar -C /tmp -cjf ../$(PACKAGE)-source-$(VERSION).tar.bz2 $(PACKAGE)-source-$(VERSION)
	rm -rf /tmp/$(PACKAGE)-source-$(VERSION)

build-install-tarball:
	# Create the installation tarball
	# WARNING: make install before-hand!
	mkdir -p /tmp/$(PACKAGE)-$(VERSION)/
	cp -rp debian/tmp/usr debian/tmp/etc /tmp/$(PACKAGE)-$(VERSION)/.
	tar -C /tmp -cjf ../$(PACKAGE)-$(VERSION).tar.bz2 $(PACKAGE)-$(VERSION)
	rm -rf /tmp/$(PACKAGE)-$(VERSION)

debian-packages:
	debuild -us -uc -b

debian-source:
	debuild -I'.git*' -I'*.pyc' -us -uc -S

release: debian-packages build-install-tarball debian-source build-source-tarball ;

